[Unit]
Description=Ampere Computing LLC CPU%i HighTemp Deassertion event
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Restart=no
ExecStart=/usr/sbin/ampere_hightemp.sh %i deassert
RemainAfterExit=no
Type=oneshot
